<div ng-app="app">
  <div ng-controller='usersCtrl' ng-init='getUsers'>
    <h2>{{message}}</h2>
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
    <h1> Welcome to Contactually Lite!</h1>

    <a class="btn btn-default" href="/contacts"> View Contacts </a>

    <!-- <h4> Existing User? Select Your Name Below. </h4>

      <ul>
        <li ng-repeat='user in users'> {{ user.name }} </li>
      </ul>

    <h4>New User? Please Enter Your Name and Email Below.</h4>

      <input type="text" placeholder="Name" ng-model="user.name">
      <input type="text" placeholder="Email" ng-model="user.email">
      <button type="button" ng-click="addUsers()"> Create New User </button> -->

  </div>
</div>
