<h1 style="margin-top: 100px;">Welcome to Contactually Lite!</h1>
  <div class="border-login_form-div">
    <h2>To get started, please select an option from below: </h2>

    <div>
        <a href=/users/#{user.id} class="button">Existing User</a>
    </div>

    <div>
        <a href=/users/new class="button">New User</a>
    </div>

  </div>
